body{
    background: rgb(231, 182, 84);
}

/*Esta clase dara el 100% de tamaño con borde de 1 pixel de 66 px de largo y absoluto*/
.s-header {
    position: relative;
    width: 100%;
    border: 1px solid rgb(96, 197, 215);
    height: 12%;
    background-color: rgb(96, 197, 215);
}

/*Clase del logo pajaro azul*/
.site-logo img {
    /*Posicion absoluta*/
    position: absolute;
    /*ancho de la imagen con 67 pixeles*/
    width: 67px;
    /*alto de 67 pixeles de la imagen*/
    height: 67px;
    /*Se movera a la parte de abajo un 2%*/
    top: 2%;
    /*dezplasamiento en la derecha*/
    left: 13px;
    /*no tendra dezplasamiento en la derecha*/
    right: auto;
    /*No tendra dezplasamiento a la izquierda*/
    bottom: auto;
}

/*Clase de index para centrar el menu con posicion relativo conel menu a la izquierda*/
.header-nav-wrap {
    position: relative;
    text-align: center;
    left: 400px;
}

/*Clase para dar estilo a la lista desordenada*/
.header-nav-wrap ul {
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-top: 25px;
}

/*estilo recto del menu*/
.header-nav-wrap li {
    display: inline-block;
    padding-left: 0%;
}


/*estilo de la letra con 21 pixeles de la letra*/
.header-nav-wrap li a {
    font-family: Barlow;
    font-size: 21px;
}

/*espacio a las palabras del menu*/
.header-nav-wrap li {
    margin: 0 1rem;
}

/*Color a las palabras del menu*/
.header-nav-wrap a {
    color: white;
    position: relative;
}

/*Estilo al titulo principal de la casita salinera*/
.Titulo-Casita {
    position: absolute;
    top: 0.1%;
    right: 1026px;
    margin: 0 1rem;
    font-family: barlow;
    color: aliceblue;
}

/*borde a toda la pagina del menu principal*/
.Content-About {
    position: relative;
    width: 100%;
    border: 1px solid black;
}
/*para eliminar los puntos de la lista desordenada*/
.menudos ul {
    list-style: none;
}

/*Desarrollo de contenedor para el menu de la pagina*/
.title-about-us {
    position:relative;
    width: 100%;
    border: 1px solid rgb(64, 132, 250);
    width: 250px;
    height: 1503px;
    background-color: rgb(64, 132, 250);
}

/*Dar posicion a las opciones del menu y estilos*/
.title-about-us h2 {
    position: absolute;
    font-family: barlow;
    right: 108px;
    color: aliceblue;
}

/*el menu tendra una posicion absoluta y con la cantidad de pixeles para la ubicacion*/
.opciones li a {
    position: absolute;
    right: 1350px;
}

/*ubicamos y damos estilo a la opcion 1*/
.C-Licores {
    position: relative;
    font-family: barlow;
    top: 3%;
    font-size: 20px;
    color: aliceblue;
}

/*ubicamos y damos estilo a la opcion 2*/
.C-vinos {
    position: relative;
    font-family: barlow;
    top: 5%;
    font-size: 20px;
    color: aliceblue;
}

/*ubicamos y damos estilo a la opcion 3*/
.C-cremas {
    position: relative;
    font-family: barlow;
    top: 7%;
    font-size: 20px;
    color: aliceblue;
}

/*-------------------------------------------------------------------------------------------------------------------*/
.productosprincipal img a {
    float: left;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*Desarrollo de estilos al apartado de como llegar a la casita salinera*/

.Ubication {
    position: absolute;
    width: 100%;
    border: 1px solid rgb(255, 226, 168);
    background-color: rgb(255, 220, 149);
}

/*Desarrollo de contenedor al texto de informacion la casita salinera*/
.ubicacion-content {
    position: absolute;
    width: 100%;
    height: 300px;
    border: 1px solid rgb(233, 162, 71);
    background-color: rgb(225, 157, 56);

}
.visual-ubication img {
    /*Posicion absoluta*/
    position: relative;
    /*ancho de la imagen con 67 pixeles*/
    width: 200px;
    /*alto de 67 pixeles de la imagen*/
    height: 67px;
    /*dezplasamiento en la derecha*/
    left: 650px;
    /*no tendra dezplasamiento en la derecha*/
    right: auto;
    /*No tendra dezplasamiento a la izquierda*/
    bottom: auto;
}

/*Estilo al contenido de la informacion*/
.ubicacion-content {
    font-family: lexend;
    text-align: center;
    color: aliceblue;
    /*dando estilo al el¿nlace de google maps*/
}

.ubicacion-content a {
    color: aliceblue;
}
